<div class="container">
  <h2>Orders</h2>
  <p>Overview of orders</p>

  <table class="table-striped table-hover table-bordered">
    <thead>
    <tr>
      <ng-container  *ngFor="let header of settings.columnHeaders; let i=index" >
        <th *ngIf="header.sortField" width="{{header.size}};" (click)="requestSort(header.sortField)">
          {{header.value}}&nbsp;<fa name="{{header.sortClass}}"></fa>
        </th>
        <th *ngIf="!header.sortField" width="{{header.size}};">
          {{header.value}}&nbsp;
        </th>
      </ng-container>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of dataSource; let i=index" (click)="select(row.id)">
      <td><span>{{row.date | date: 'dd-MM-yyyy'}}</span></td>
      <td><span>{{row.description}}</span></td>
      <td><span>{{row.customer}}</span></td>
      <td><span>{{row.employee}}</span></td>
      <td>
        <button type="button" title="remove" class="btn btn-link btn-xs" (click)="delete(row.id)">
          <fa name="trash" size="lg" style="color:red"></fa>
        </button>
      </td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <td style="text-align:right" colspan="4">
        <button *ngFor="let pageButton of pageButtons"
                class="btn btn-default btn-xs"
                title="page {{pageButton}}"
                (click)="requestPage(pageButton)"
                [disabled]="pageButton==settings.page">{{pageButton}}
        </button>
      </td>
      <td>&nbsp;</td>
    </tr>
    </tfoot>
  </table>

  <br/>

  <div>
    <button type="button" title="remove" class="btn btn-primary btn-sm" (click)="new()">
      <span octicon="plus" color="white" width="16"></span>&nbsp; New order
    </button>
  </div>

</div>

